/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: skyblue;
}

header {
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-bottom: whitesmoke solid 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: black;
}

section {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.1);
}

h2 { 
    color: #333;
}

footer {
    color: white;
    background-color: #333;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-weight: bold;
    border: whitesmoke solid 5px;
}

#about {
    padding: 20px;
    margin: 20px;
    text-align: justify;
}

button {
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border: solid 2px hsl(202, 66%, 42%);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.togglestyle {
    width: 50%;
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    color: white;
  }

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}